<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" 
        alt="Restaurant Logo" 
        class="navbar__logo">
    
    <nav class="navbar">
        
        <ul class="navbar__menu">
            <li class="dropdown">
                <a href="#" class="navbar__links">Navigation</a>    
                <ul class="dropdown__menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/add_customer">Add Customer</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <h1>Welcome to Trevor's Restaurant Management System</h1>
</body>
</html>