<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trevor's Restaurant Reservations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reservations.css') }}">  
</head>

<body>

    <img src="{{ url_for('static', filename='logo.png') }}" 
        alt="Restaurant Logo" 
        class="navbar__logo">
    
    <nav class="navbar">
        
        <ul class="navbar__menu">
            <li class="dropdown">
                <a href="#" class="navbar__links">Navigation</a>    
                <ul class="dropdown__menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/add_customer">Add Customer</a></li>
                    <li><a href="/menu">Menu</a></li>
                </ul>
            </li>
        </ul>
    </nav>


    <h1>Trevor's Restaurant Reservations</h1>
    <form action="/add_reservation_item" method="POST">
    <label for="Customer.customer_id">Customer:</label>
    <select name="customer_id" required>
    {% for customer in customers %}
        <option value="{{ customer.customer_id }}">
            {{ customer.customer_id }} - {{ customer.first_name }} {{ customer.last_name }}
        </option>
    {% endfor %}
</select>
    

    <label for="reservation_date">Date (MM/DD/YYYY):</label>
    <input type="date" name="reservation_date" id="reservation_date" required>

    <label for="party_size">Party Size:</label>
    <input type="number" name="party_size" id="party_size" required>

    <button type="submit">Add Reservation</button>
</form>

    
    <hr>

    <table border="1">
        <tr>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Reservation Date</th>
            <th>Party Size</th>
            
        </tr>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.Customer_customer_id }}</td>
            <td>{{ reservation.first_name }} {{ reservation.last_name }}</td>
            <td>{{ reservation.reservation_date.date() }}</td>
            <td>{{ reservation.party_size }}</td>
            

            <td><form action="/delete_reservation_item/{{ reservation.reservation_id }}" method="POST">
                <button type="submit">Delete</button>
                </form>
            </td> 
        </tr>
        {% endfor %}
    </table>
        