<h2>Update Customer</h2>

<form method="POST">

    <label>First Name</label>
    <input type="text" name="first_name" value="{{ customer.first_name }}">

    <label>Last Name</label>
    <input type="text" name="last_name" value="{{ customer.last_name }}">

    <label>Phone</label>
    <input type="text" name="phone" value="{{ customer.phone_number }}">

    <label>Email</label>
    <input type="text" name="email" value="{{ customer.email }}">

    <button type="submit">Update Customer</button>

</form>

<a href="/customers">Back</a>